body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #f2f2f2;
}

#container {
    width: 960px;
    margin: 0 auto;
    background: #fff url(imagens/coluna.png) repeat-y left top;
    min-width: 900px;
    max-width: 1280px;
}

#marca {
    height: 200px;
    background: #225992 url(imagens/cabecalho2.jpg) no-repeat center;
    text-align: center;
    line-height: 200px;
}

#conteudo {
    width: 75%; /*520px*/
    float: right;
}

#conteudo-principal {
    width: 63%; /*320px*/
    float: left;
}

img.img-noticia {
    width: 94%;
    padding: 2%;
    max-width: 600px;
}

#conteudo-secundario {
    width: 34%; /*180px*/
    float: right;
    background: #d1d1d1;
    padding: 10px;
}

#navegacao {
    width: 23%; /*180px*/
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
}

#navegacao ul {
    list-style: none;
}

#navegacao li a {
    text-decoration: none;
}

#rodape {
    clear: both;
    background: #c4c4c4;
    padding: 5px;
}