#caixa {
    width: 300px;
    height: 300px;
    background: orange;
}

#caixa:hover {
    width: 400px;
    background: yellow;
    /*transition: width 3s, background 3s;*/
    -webkit-transition: all 3s;
    -moz-transition: all 3s;
    -o-transition: all 3s;
    transition: all 3s;
}