#caixa {
    width: 300px;
    height: 300px;
    background: #009670;
    padding: 8px;
    margin: 20px;
    box-shadow: 20px 20px 2px 10px rgba(0, 0, 0, 0.2);
}

#caixa h1 {
    color: white;
    text-shadow: 20px 15px 5px rgba(0, 0, 0, 0.6);
}