@keyframes animacao-caixa {
    from {
        background: red;
        border-radius: 0px;
        top: 0;
        left: 0;
    }
    to {
        background: green;
        border-radius: 300px;
        top: 200px;
        left: 200px;
    }
}
/*
@-webkit-keyframes animacao-caixa {
    from {
        background: red;
    }
    to {
        background: green;
    }
}

@-moz-keyframes animacao-caixa {
    from {
        background: red;
    }
    to {
        background: green;
    }
}

@-o-keyframes animacao-caixa {
    from {
        background: red;
    }
    to {
        background: green;
    }
}
*/
#caixa {
    width: 300px;
    height: 300px;
    background: red;
    position: relative;
    /*
    animation-name: animacao-caixa;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    */
    animation: animacao-caixa 5s 1s 2 alternate;
}