ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 560px;
    background: #159cb0 url(imagens/fundo-horizontal.png) repeat-x;
    float: left;
}

ul li {
    float: left;
}

ul a {
    display: block;
    padding: 0 2em;
    line-height: 2.2em;
    text-decoration: none;
    color: #ffffff;
    background: url(imagens/divisor.png) repeat-y;
}

ul .primeiro a {
    background: none;
}

ul a:hover {
    color: #085662;
    background: #44cade;
}

#home #menu-lateral .home a,
#sobre #menu-lateral .sobre a,
#servicos #menu-lateral .servicos a,
#noticias #menu-lateral .noticias a,
#contato #menu-lateral .contato a {
    color: #085662;
    background: #44cade;
}